<!doctype html>
<html lang="en" ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Refaktor</title>

        <!-- CSS -->

        <link rel="stylesheet" href="dist/css/style.css">
        <link rel="stylesheet" href="#" class="template">
        
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="dist/js/vendor.min.js"></script>
        <script src="dist/js/app.min.js"></script>

    </head>
    <body>
        <div class="ui_content">
            <section ng-controller="NavCtrl">
                <section class="top-menu" ng-init="pageTitle='Vue d\'ensemble';">
                    <div class="brand">Refaktor</div>
                    <div class="page">
                        <h2>{{pageTitle}}</h2>
                    </div>
                    <div class="right_infos">
                        <div class="add">
                            <div class="legend">Ajouter ...<div class="icon">></div></div>
                            <ul>
                                <li ng-repeat='item in addItems'><a href="#{{item.path}}" ng-class="{active: isActive(item)}">{{item.title}}</a></li>
                            </ul>
                        </div>
                        <div class="me">
                            <div class="icons">
                                <i class="fa fa-refresh"></i>
                                <i class="fa fa-cog"></i>
                                <i class="fa fa-sign-out"></i>
                            </div>
                            <span>T. Farneau</span>
                            <div class="avatar" style="background-image:url(http://www.tristanfarneau.fr/images/photo.jpg)"></div>
                        </div>
                    </div>
                </section>
                <section class="info-box {{notify.type}} {{notify.state}}">
                    <section class="box-content">
                        <h3>{{notify.title}}</h3>
                        <p>{{notify.msg}}</p>
                    </section>
                </section>
                <aside class="sidebar">
                    <ul>
                        <li>
                            Mon compte
                            <ul>
                                <li ng-repeat='item in mainItems'><a href="#{{item.path}}" ng-class="{active: isActive(item)}">{{item.title}}</a></li>
                            </ul>
                        </li>
                        <li>
                            Projets
                            <ul>
                                <li ng-repeat='item in categoriesItems.projects'><a href="#{{item.path}}" ng-class="{active: isActive(item)}">{{item.title}}</a><div class="close" ng-if="$index!=0" ng-click="deleteCategory('projects',$index)"><i class="fa fa-minus-square-o"></i></div></li>
                                <li class="input"><input type="text" placeholder="Ajouter une catégorie" ng-keyup="addProjectCategory($event)" ng-model="inputCategory.project"><i class="fa fa-plus-square-o" ng-click="addProjectCategory($event)"></i></li>
                            </ul>
                        </li>
                        <li>
                            Cahiers
                            <ul>
                                <li ng-repeat='item in categoriesItems.books'><a href="#{{item.path}}" ng-class="{active: isActive(item)}">{{item.title}}</a><div class="close" ng-if="$index!=0" ng-click="deleteCategory('books',$index)"><i class="fa fa-minus-square-o"></i></div></li>
                                <li class="input"><input type="text" placeholder="Ajouter une catégorie" ng-keyup="addBookCategory($event)" ng-model="inputCategory.book"><i class="fa fa-plus-square-o" ng-click="addBookCategory($event)"></i></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </section>
            <section class="content" ng-view>
                
            </section>
        </div>
    </body>
</html>