@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400italic,400,300);

.render{
	font-family:"Open Sans", sans-serif;
}
/* reset */
.render li{
	width: auto !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	float:none !important;
	position: relative !important;
	border-radius:0px;
}
.render{
	background-color:#FFFFFF;	
}

.render article{
	position: relative;
}

/* Cover page */
.cover{}

.render .cover .cover_image{position:absolute;width:100%;height:100%;left: 0;top: 0; z-index:4;background-size:cover;background-position:left center;}
.render .cover .cover_content{position: absolute;left: 0;width: 100%;height: 100%; padding:40px;z-index:10;}

.render .cover .cover_content .text{color:#fff;text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);}
.render .cover .cover_content h1{font-size:36px;line-height:150%;padding:30px 0;}
.render .cover .cover_content h2{font-size:14px;line-height:150%;}
.render .cover .cover_content h4{font-size:12px;line-height:150%; position:absolute; bottom:15px;}

.render .cover .gradient{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	z-index:7;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0.23) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.23)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/* Items */
.render .item{}
.render .item .project{}
.render .item .project .project_image{position: absolute;top: 0%;width: 100%;height: 50%;padding:20px;background-size:cover;background-position:center center;}
.render .item .project .project_content{position: absolute;top: 50%;width: 100%;height: 50%;padding:20px;}
.render .item .project .project_content h3{font-size: 12px; font-size: 12px; font-weight: 700; color: #9C9C9C; text-transform: uppercase; margin:13px 0 15px 0;}
.render .item .project .project_content h2{line-height:60px;font-size: 36px}
.render .item .project .project_content h4{font-size: 16px;}
.render .item .project .project_content div.desc{ font-size: 12px;line-height: 150%; padding-top: 30px;}
.render .item .project .gradient{
	position: absolute;
	top: 0;
	width: 100%;
	height: 50%;

	z-index:7;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.23) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.23))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.23) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.23) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.23) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.23) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#3b000000',GradientType=0 ); /* IE6-9 */
}

/* Medias */
.medias {background-color: #fafafa;}
.medias .images{height:100%;width: 100%; position: absolute; padding-top: 50px;padding-bottom: 30px;top: 0;}
.medias .images .images_content{height:100%;width: 100%; position: relative}
.medias .image{position: absolute;display:block;display: block;background-size:cover;z-index:10; padding:10px;}
.medias h3{ padding: 20px; margin-top: 0;}

/* Grid creator */
.medias .cell{
	width: 25%;
	float:left;
	display: block;
	border:1px solid black;
}
.pagination{position: absolute;bottom:10px;right:10px;color:#000000;z-index:999;font-size:12px;}