<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>`réfactor 2000</title>

      <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
  </head>
  <body>

        {% block body %}

          {% endblock %}
  </body>
</html>