{% extends "::layout.html.twig" %}
{% block media_active %}class="active"{% endblock %}
{% block body %}
<div class = "item-container">
	<div class="row">
	{% for media in medias %}
	  	<div class="col-lg-4">
	    	<div class="thumbnail" style="text-align:center; display: inline-table;">
	    	<div class="caption">
	    		<h4>{{ media.name}}</h4>
	    		</div>
	    		<div class="img">
	    			{% thumbnail media, 'thumbnail' with {'class': 'img-polaroid media-object'} %}
	    		</div>
	    		<div class="caption">
	    		<em>{{ media.description}}</em>
	    		</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}