<section class="container books in">
    <section class="white_head">
        <h4>Filtrer les cahiers :</h4>
        <section class="search">
            <input type="search" ng-model="search" placeholder="Tapez un mot-clé, une date ..." class="add_tag">
        </section>
    </section>

    <section class="items">
        <div ng-repeat="book in books | filter : search">
            <article class="item">
                <span class="close" ng-click="deleteBook(book.id)">x</span>
                <a class="book" href="#/book/{{book.id}}">
                    <div class="gradient"></div>
                    <div class="image" back-img="{{book.cover}}"></div>
                    <div class="desc">
                        <h4>{{book.btitle}}</h4>
                        <div class="date">
                            <span>{{book.date}}</span>
                        </div>
                    </div>
                    <div class="buttons">
                        
                    </div>
                </a>
            </article>
        </div>
    </section>
</section>