<ol id="helpme">
    <li data-id="tip1">Vos pages ajoutées sont visibles en format A4 dans cette colonne. Des formats web et présentation seront également générés.</li>
    <li data-id="tip2">Ajustez les textes de vos pages dans cette colonne.</li>
    <li data-id="tip3">Enregistrer votre projet grâce au bout enregistrer. Si celui-ci est en ligne, la version en ligne sera également mise à jour. Vous pouvez également régler la visbilité de votre projet grâce au bouton de droite. Si celui-ci est "en ligne", il sera visible par les visiteurs à une adresse qui vous sera donnée.</li>
</ol>

<section class="container add_project in">
  <section class="exported" ng-class="{show: exportBox==true}">
    <section class="box-content zi2" ng-show="exportBoxSuccess">
      <div class="close" ng-click="closeExportedBox()">x</div>
      <h2>Votre cahier a bien été exporté</h2>
      <p>Votre cahier a été exporté à l'adresse suivante :</p>
      <input type="text" value="polypod.es/{{book.exported}}" disabled class="bigurl">
      <input type="text" value="polypod.es/{{book.exported}}:pdf" disabled class="smallurl">
      <input type="text" value="polypod.es/{{book.exported}}:pres" disabled class="smallurl nm">
    </section>
    <section class="box-content zi1" ng-show="!exportBoxSuccess">
      <div class="close" ng-click="closeExportedBox()">x</div>
      <h2>Choisissez une url courte</h2>
      <p>Choisissez un identifiant facilement mémorisable pour votre projet</p>
      <div class="buttons">
        <input type="text" ng-model="bookUrl" maxlength="10">
        <span class="button" ng-click="exportFinal()">Mettre en ligne</span>
      </div>
    </section>
  </section>
  <section class="editor">
    <section class="right_panel">
      <div class="right_panel_content" id="tip2">
        <div class="pages">
          <article class="page" ng-show="activePage==0" ng-animate="'page'">
            <h2>Couverture</h2>
            <p>Depuis cet écran, vous pouvez faire les derniers réglages concernant votre cahier. Les modifications effectuées toucheront uniquement les projets présents dans ce cahier, et non pas les projets d'origine.</p>
            <section class="form">
              <label>Titre du cahier</label>
              <input type="text" ng-model="book.btitle">
              <label>Description du cahier</label>
              <textarea ng-model="book.subtitle"></textarea>
              <label>Infos complémentaires</label>
              <input type="text" ng-model="book.bottomline">
            </section>
          </article>
          <article class="page" ng-repeat="project_a in book.projects_a track by project_a.id" ng-show="$index+1==activePage" ng-animate="'page'">
            <h2>{{project_a.title}}</h2>
            <p>Vous pouvez modifier ce projet pour ce cahier. Modifier le projet peut être utile si vous voulez adapter le texte pour un client ou un besoin spécifique. Les modifications effectuées toucheront uniquement le projet présent dans ce cahier, et non pas le projet d'origine.</p>
            <section class="form">
              <label>Phrase d'introduction</label>
              <input type="text" ng-model="project_a.intro">
              <label>Titre du projet</label>
              <input type="text" ng-model="project_a.title">
              <label>Date</label>
              <input type="text" ng-model="project_a.date">
              <label>Description</label>
              <textarea type="text" ng-model="project_a.desc"></textarea>
            </section>
          </article>
        </div>
        <section class="bottom_container" id="tip3">
          <div class="buttons">
            <p class="bookurl" ng-if="book.exported!=false">books/{{book.exported}}</p>
            <div class="switch" ng-click="export()">
                <div class="selector" ng-class="{left: book.exported==false}"></div>
                <div class="online active">En ligne</div>
                <div class="offline">Hors ligne</div>
            </div>
              <div class="button ng-binding" ng-click="saveBook(true)"><span ng-if="book.exported==false">Enregistrer</span><span ng-if="book.exported!=false">Synchroniser</span></div>
          </div>
        </section>
      </div>
    </section>
    <!-- preview -->
    <section class="preview render" id="tip1">
        <article class="cover">
            <div class="cover_image" ng-style="{'background-image':'url('+book.cover+')'}"></div>
            <div class="cover_content">
                <h1 class="text">{{book.btitle}}</h1>
                <h2 class="text">{{book.subtitle}}</h2>
                <h4 class="text">{{book.bottomline}}</h4>
            </div>
            <div class="gradient"></div>
        </article>
        <section ng-repeat="project_a in book.projects_a">
          <article class="item">
              <section class="project">

                  <div class="project_image" ng-style="{'background-image':'url('+project_a.cover+')'}"></div>
                  <div class="project_content">

                     <h3 class="text">{{project_a.intro}}</h3>
                     <h2 class="text">{{project_a.title}}</h2>
                     <h4 class="text">{{project_a.date}}</h4>
                     <div class="desc">
                         {{project_a.desc}}
                     </div>
                </div>
                <div class="gradient"></div>
              </section>
              <div class="pagination" ng-click="info()">Projet n°{{$index}}</div>
          </article>
          <article class="item" ng-if="project_a.files.length>0">
              <div class="medias medias-{{project_a.files.length}}">
                <h3>{{project_a.title}} | Medias</h3>
                <div class="images">
                  <div class="images_content" gridster="gridsterOpts">
                    <div gridster-item="image" class="image" ng-repeat="image in project_a.files" ng-style="{'background-image':'url('+image.path+')'}"></div>
                  </div>
                </div>
              </div>
              <div class="pagination">Médias complémentaires - Projet n°{{$index+1}}</div>
          </article>
        </section>
    </section>
  </section>
</section>