<section class="container add_project in">
  <section class="editor">
    <section class="right_panel">
      <div class="pages">
        <article class="page" ng-show="activePage==0" ng-animate="'page'">
          <h2>Couverture</h2>
        </article>
        <article class="page" ng-repeat="project_a in book.projects_a track by project_a.id" ng-show="$index+1==activePage" ng-animate="'page'">
          <h2>{{project_a.title}}</h2>
          <p>Vous pouvez modifier ce projet pour ce cahier. Les modifications effectuées toucheront uniquement le projet présent dans ce cahier, et non pas le projet d'origine.</p>
          <section class="form">
            <label>Phrase d'introduction</label>
            <input type="text" ng-model="project_a.intro">
            <label>Titre du projet</label>
            <input type="text" ng-model="project_a.title">
            <label>Date</label>
            <input type="text" ng-model="project_a.date">
            <label>Description</label>
            <input type="text" ng-model="project_a.desc">
          </section>
        </article>
      </div>
    </section>
    <section class="preview render">
        <article class="cover">
            <div class="cover_image" ng-style="{'background-image':'url('+book.cover+')'}"></div>
            <div class="cover_content">
                <h1 class="text">{{book.btitle}}</h1>
                <h2 class="text">{{book.subtitle}}</h2>
                <h4 class="text">{{book.bottomline}}</h4>
            </div>
            <div class="gradient"></div>
        </article>
        <section ng-repeat="project_a in book.projects_a">
          <article class="item">
              <section class="project">

                  <div class="project_image" ng-style="{'background-image':'url('+project_a.cover+')'}"></div>
                  <div class="project_content">

                     <h3 class="text">{{project_a.intro}}</h3>
                     <h2 class="text">{{project_a.title}}</h2>
                     <h4 class="text">{{project_a.date}}</h4>
                     <div class="desc">
                         {{project_a.desc}}
                     </div>
                </div>
                <div class="gradient"></div>
              </section>
              <div class="pagination" ng-click="info()">Projet n°{{$index}}</div>
          </article>
          <article class="item" ng-if="project_a.files.length>0">
              <div class="medias medias-{{project_a.files.length}}">
                <h3>{{project_a.title}} | Medias</h3>
                <div class="images">
                  <div class="images_content" gridster="gridsterOpts">
                    <div gridster-item="image" class="image" ng-repeat="image in project_a.files" ng-style="{'background-image':'url('+image.path+')'}"></div>
                  </div>
                </div>
              </div>
              <div class="pagination">Médias complémentaires - Projet n°{{$index+1}}</div>
          </article>
        </section>
    </section>
  </section>
  <section class="bottom_container">
    <div class="buttons">
        <div class="button ng-binding" ng-click="goBack()">Retour</div>
        <div class="button ng-binding" ng-click="saveBook(true)">Enregistrer</div>
        <div class="button ng-binding" ng-click="export()">Exporter</div>
    </div>
  </section>
</section>