<section class="container install in">
	<section class="slides">
		<article class='{{isSlideActive[0]}}'>
			<img src="dist/img/install1.png" alt="">
			<h3>Bienvenue dans Refaktor !</h3>
			<p>Refaktor vous permet de gérer vos références, afin de créer rapidement des cahiers sous divers formats. Ainsi, Refaktor vous permet de fournir à votre client un cahier contenant tous les travaux qui peuvent le concerner, sous le support voulu (PDF, présentation, web ...).</p>
			<div class="button" ng-click="goToPage(1)">Prise en main ></div>
		</article>
		<article class='{{isSlideActive[1]}}'>
			<img src="dist/img/install1.png" alt="">
			<h3>Prise en main</h3>
			<p>Toutes les actions sont accessibles via le menu latéral. La vue d'ensemble permet d'avoir une vision générale de vos références et de vos cahiers, tandis que la page réglages permet de gérer toutes les informations relatives à votre entreprise. La section projets permet de gérer toutes vos références (qui peuvent être des projets, des produits ...) ainsi que leurs catégories. Pour finir, la section cahier permet de regrouper tous les projets sous différents supports, de les personnaliser et de les exporter/présenter.</p>
			<div class="button" ng-click="goToPage(2)">Installation ></div>
		</article>
		<article class='{{isSlideActive[2]}}'>
			<img src="dist/img/install1.png" alt="">
			<h3>Installation</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime itaque necessitatibus quam doloribus numquam dignissimos, delectus provident nostrum perspiciatis officiis cumque ut nam velit nesciunt natus aspernatur impedit adipisci culpa?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fuga alias magni unde ipsam, amet culpa laborum inventore minus voluptates praesentium nobis provident delectus fugiat consequatur, quod odio. Voluptatem, maiores.</p>
			<div class="button" ng-click="goToPage('end')">Let's go ! ></div>	
		</article>
	</section>
	<!-- <section class="dots_nav {{activeNb}}">
		<div class="dot dot1"></div>
		<div class="bar bar1"></div>
		<div class="dot dot2"></div>
		<div class="bar bar2"></div>
		<div class="dot dot3"></div>
	</section> -->
</section>