<section class="container overview in">
	<div class="top">
		<div class="content_overview">
			<h2>Nombre de consultations</h2>
			<div class="graph">
				<canvas id="consultations" height="260"></canvas>
			</div>
			<div class="table">
				<table>
					<tr>
						<th></th>
						<th>Aujourd'hui</th>
						<th>Semaine dernière</th>
					</tr>
					<tr>
						<td class="plateform">Web</td>
						<td>52</td>
						<td>438</td>
					</tr>
					<tr>
						<td class="plateform">PDF</td>
						<td>21</td>
						<td>898</td>
					</tr>
					<tr>
						<td class="plateform">Présentation</td>
						<td>12</td>
						<td>138</td>
					</tr>
					<tr class="total">
						<td class="plateform">Total</td>
						<td>232</td>
						<td>1.467</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="content_overview"></div>
	</div>
</section>