<section class="container overview in">
	<div class="top">
		<div class="content_overview">
			<h2>Nombre de consultations des cahiers</h2>
			<div class="graph">
				<canvas id="consultations" height="260"></canvas>
			</div>
			<div class="table">
				<table>
					<tr class="head">
						<th></th>
						<th>Aujourd'hui</th>
						<th>Hier</th>
					</tr>
					<tr>
						<td class="plateform">Web</td>
						<td>{{stats.views.web.today}}</td>
						<td>{{stats.views.web.yesterday}}</td>
					</tr>
					<tr>
						<td class="plateform">PDF</td>
						<td>{{stats.views.pdf.today}}</td>
						<td>{{stats.views.pdf.yesterday}}</td>
					</tr>
					<tr>
						<td class="plateform">Présentation</td>
						<td>{{stats.views.pres.today}}</td>
						<td>{{stats.views.pres.yesterday}}</td>
					</tr>
					<tr class="total">
						<td class="plateform">Total</td>
						<td>{{stats.views.total.today}}</td>
						<td>{{stats.views.total.yesterday}}</td>
					</tr>
				</table>
			</div>
			<div class="numbers">
				<article>
					<div class="vertical-align">
						<h3>Croissance</h3>
						<span ng-class="{'n' : stats.views.variations.growth<0 , 'p' : stats.views.variations.growth>=0}">{{stats.views.variations.growth}}%</span>
					</div>
				</article>
				<article>
					<div class="vertical-align">
						<h3>Nouvelles visites</h3>
						<span ng-class="{'n' : stats.views.variations.new_visits<0 , 'p' : stats.views.variations.new_visits>=0}" >{{stats.views.variations.new_visits}}</span>
					</div>
				</article>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="content_overview"></div>
	</div>
</section>