<section class="topbar_presentation {{topBarClass}}">
	<section class="left">
		<div class="butt" ng-click="goEditor()">Revenir à l'éditeur</div>
	</section>
	<section class="right">
		<div class="butt">{{activePage+1}} / {{book.length}}</div>
		<div class="butt" ng-click="goBack()"><</div>
		<div class="butt" ng-click="goNext()">></div>
		<div class="butt" ng-click="toggleFullscreen()">FC</div>
	</section>
</section>
<section class="render presentation" ng-keyup="keyPress($event)" ng-mousemove="mouseMove()">
	

	<article class="item animate" ng-repeat="p in book" ng-class="{previous:activePage>$index,active:activePage==$index,next:activePage<$index}">

		<article class="cover" ng-if="p.type=='cover'">
		    <div class="cover_image" ng-style="{'background-image':'url('+p.cover+')'}"></div>
		    <div class="cover_content">
		        <h1 class="text">{{p.btitle}}</h1>
		        <h2 class="text">{{p.subtitle}}</h2>
		        <!-- <h4 class="text">{{p.bottomline}}</h4> -->
		    </div>
		    <div class="gradient"></div>
		</article>

		<section class="project" ng-if="p.type=='project'">
			<div class="project_image" ng-style="{'background-image':'url('+p.cover+')'}"></div>
			<div class="project_content">

			    <h3 class="text">{{p.intro}}</h3>
			    <h2 class="text">{{p.title}}</h2>
			    <h4 class="text">{{p.date}}</h4>
			    <div class="desc">
			         {{p.desc}}
			    </div>
			</div>
			<div class="gradient"></div>
		</section>

		<div class="medias medias-{{p.files.length}}" ng-if="p.type=='medias'">
			<h3>{{p.title}} | Medias</h3>
			<div class="images">
				<div class="images_content">
					<div ng-repeat="file in p.files" class="image row-{{file.row}} col-{{file.col}} sizex-{{file.sizeX}} sizey-{{file.sizeY}}">
						<div class="imagecontent" style="background-image:url({{file.path}});"></div>
					</div>
				</div>
			</div>
		</div>

	    <div class="pagination" ng-click="info()">Page n°{{$index+1}}</div>

	</article>

</section>