<section class="container add_project in">
    <div class="new_project_wysiwyg">
        <div class="image"></div>
        <div class="text">

            <h3>
                <input type="text" class="live_edit input_intro"  ng-model="project_data.intro">
            </h3>
            <h4>
                <input type="text" class="live_edit input_title" ng-model="project_data.title">
            </h4>
            <h3 class="date">
                <input type="text" class="live_edit input_date"  ng-model="project_data.date">
            </h3>

            <div class="live_edit desc">
                <textarea  ng-model="project_data.desc"></textarea>
            </div>

        </div>
        <section class="classification">
            <div class="categories">
            <h3>Catégories</h3>
                <ul>
                    <li ng-repeat="category in categories.projects" ng-click='selectCategory($index)' ng-class="{'selected' : project_data.category == category.id}">{{category.title}}</li>
                </ul>
            </div>
            <div class="tags">
            <h3>Mots clés</h3>
                <input type="text" ng-model="addedTag" ng-keyup="addTag($event)" placeholder="Ajouter un mot clé">
                <ul>
                    <li ng-repeat="tag in project_data.tags">{{tag}} <span ng-click='deleteTag($index)'>X</span></li>
                </ul>
            </div>
            <div class="clear"></div>
        </section>
        <div class="clear"></div>
    </div>
    <div class="bottom_box">
        <div class="medias">
            <h3>Médias complémentaires</h3>
            <ul>
                <li class="add"><div><i class="fa fa-angle-down"></i><span>Ajouter un média</span></div></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <!-- <div class="medias">
        <h3>Médias complémentaires</h3>
       
    </div> -->
    <div class="submit">
        <button class="submit" ng-click="addProject()">
            Ajouter le projet
        </button>
    </div>
    </div>
</section>