/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;-webkit-user-select: none;}

body,html{width: 100%;height: 100%;margin:0;padding:0;}
.render{position:relative;width: 100%;height: 100%;}
.item,.cover,.projects,.medias{height:100%;}
.image{position: absolute;display:block;display: block;background-size:cover;z-index:10;}
.imagecontent{
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

div.big_container{height: 100%;}
div.big_container.files{height:200%;}
div.big_container.files .item{height:50%;}

/* PRESENTATION ONLY */
.render.presentation{height: 100%;overflow: hidden;position: relative;z-index:5;}
.render.presentation .item,.render.presentation .cover{position: absolute;top: 0;left: 0;width: 100%;height: 100% !important; background-color: #fff;}

/* PRESENTATION TOPBAR */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600);
.topbar_presentation{height: 40px;width: 100%;position: absolute;top:0;left:0;background-color: #232b2d;z-index:10; -webkit-transition:all 0.3s;}
.topbar_presentation.hidden{-webkit-transform:translateY(-80px);}
.topbar_presentation .left{height: 40px;float:left;padding-left: 0;}
.topbar_presentation .left .butt{border-right:1px solid #485255;}
.topbar_presentation .right{height: 40px;float:right;padding-right: 0;}
.topbar_presentation .right .butt{border-left:1px solid #485255;}
.topbar_presentation .butt{color:#FFFFFF; font-size:12px; line-height:40px;display:inline-block; padding: 0 12px; font-family:'Open Sans', sans-serif;}
.topbar_presentation .butt:hover{cursor:pointer;}

.row-0{top:0%;}
.row-1{top:20%;}
.row-2{top:40%;}
.row-3{top:60%;}
.row-4{top:80%;}

.col-0{left:0%;}
.col-1{left:25%;}
.col-2{left:50%;}
.col-3{left:75%;}

.sizex-0{width: 0%;}
.sizex-1{width: 25%;}
.sizex-2{width: 50%;}
.sizex-3{width: 75%;}
.sizex-4{width: 100%;}

.sizey-0{height: 0%;}
.sizey-1{height: 20%;}
.sizey-2{height: 40%;}
.sizey-3{height: 60%;}
.sizey-4{height: 80%;}
.sizey-5{height: 100%;}